@import "tailwindcss";

:root {
  /* Your custom colors */
  --primary-gold: #846449;
  --unselected-gray: #3C3C3C80;
  --section-brown: #937052;
  --pure-black: #000000;
  --background: #ffffff;
  --foreground: #171717;
  --bg-secondary: #F7F1EC;
  --dark-brown: #23140C;
}

@theme inline {
  /* Font definitions using variables passed in the Layout */
  --font-playfair: var(--font-playfair);
  --font-poppins: var(--font-poppins);

  /* Color definitions as Tailwind classes */
  --color-primary: var(--primary-gold);
  --color-unselected: var(--unselected-gray);
  --color-section-title: var(--section-brown);
  --color-description: var(--pure-black);
  
  /* Default background settings */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg-soft: var(--bg-secondary);
  --color-dark-brown: var(--dark-brown);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Set Poppins as the default site font */
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
